@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 80px;
    --footer-height: 80px;
}

p,
h1,
h2,
h3,
h4,
button,
a {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.font-roboto {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.hero-main-page {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(1, 120, 255, 0.5)),
    url("/src/assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-create-page {
    background: linear-gradient(rgba(23, 41, 183, 0.5), rgba(1, 120, 255, 0.5)),
    url("/src/assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-height {
    height: calc(100vh - calc(var(--navbar-height) + (var(--footer-height))));
}

.navbar-margin {
    margin-top: var(--navbar-height);
}
