@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar {
        @apply
        bg-base100
        shadow-md
        px-0
        sm:px-3
        flex
        items-center
        justify-between
        flex-wrap
        p-3
        w-full
        relative
        z-50
    }

    .navbar .link-component {
        @apply
        block
        text-white
        hover:text-blue-600
        mt-4
        sm:inline-block
        sm:mt-0
        mr-4
    }

    .navbar .menu-content {
        top: var(--navbar-height);
        @apply sm:top-0
        shadow-lg
        sm:shadow-none
        z-50
        w-full
        sm:translate-y-0
        sm:bg-transparent
        grow
        sm:flex-nowrap
        flex-wrap
        sm:flex
        sm:items-center
        sm:w-auto
        absolute
        sm:relative
    }

    @media (min-width: 640px) {
        .changeThemeContainer {
            right: 6.4rem !important;
        }
    }

}

.navbar {
    height: var(--navbar-height);
    min-height: var(--navbar-height);
}

.navbar-margin-top {
    margin-top: var(--navbar-height);
}
